<table class="table table-striped">
  <thead>
    <tr>
      <th>Network ID</th>
      <th>Email Referrals</th>
      <th>On Waitlist</th>
      <th>Network Name</th>
      <th>Needed for Launch</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
